= simple_form_for([@post, @post.comments.build]) do |f| 
  .form-group
    = f.input :commenter, input_html: {class: 'form_control'}
  .form-group
    = f.input :body, input_html: {class: 'form_control'}

  = f.button :submit, class: 'btn btn-primary' 

